USE [master]
GO
/****** Object:  Database [SoundSphereDev]    Script Date: 6/24/2024 2:46:31 PM ******/
CREATE DATABASE [SoundSphereDev]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SoundSphereDev', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SoundSphereDev.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SoundSphereDev_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SoundSphereDev_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SoundSphereDev].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SoundSphereDev]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/24/2024 2:46:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlbumLinks]    Script Date: 6/24/2024 2:46:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlbumLinks](
	[AlbumId] [uniqueidentifier] NOT NULL,
	[SimilarAlbumId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AlbumLinks] PRIMARY KEY CLUSTERED 
(
	[AlbumId] ASC,
	[SimilarAlbumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Albums]    Script Date: 6/24/2024 2:46:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Albums](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[ReleaseDate] [date] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Albums] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArtistLinks]    Script Date: 6/24/2024 2:46:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArtistLinks](
	[ArtistId] [uniqueidentifier] NOT NULL,
	[SimilarArtistId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ArtistLinks] PRIMARY KEY CLUSTERED 
(
	[ArtistId] ASC,
	[SimilarArtistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Artists]    Script Date: 6/24/2024 2:46:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artists](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[Bio] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Artists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArtistSong]    Script Date: 6/24/2024 2:46:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArtistSong](
	[ArtistsId] [uniqueidentifier] NOT NULL,
	[SongsId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ArtistSong] PRIMARY KEY CLUSTERED 
(
	[ArtistsId] ASC,
	[SongsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Authorities]    Script Date: 6/24/2024 2:46:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authorities](
	[Id] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](450) NOT NULL UNIQUE,
	[CreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Authorities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthorityUser]    Script Date: 6/24/2024 2:46:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorityUser](
	[AuthoritiesId] [uniqueidentifier] NOT NULL,
	[UsersId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AuthorityUser] PRIMARY KEY CLUSTERED 
(
	[AuthoritiesId] ASC,
	[UsersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 6/24/2024 2:46:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Feedbacks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 6/24/2024 2:46:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [uniqueidentifier] NOT NULL,
	[SenderId] [uniqueidentifier] NOT NULL,
	[ReceiverId] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Playlists]    Script Date: 6/24/2024 2:46:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlists](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Playlists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaylistSong]    Script Date: 6/24/2024 2:46:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaylistSong](
	[PlaylistsId] [uniqueidentifier] NOT NULL,
	[SongsId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PlaylistSong] PRIMARY KEY CLUSTERED 
(
	[PlaylistsId] ASC,
	[SongsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/24/2024 2:46:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](450) NOT NULL UNIQUE,
	[CreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SongLinks]    Script Date: 6/24/2024 2:46:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SongLinks](
	[SongId] [uniqueidentifier] NOT NULL,
	[SimilarSongId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SongLinks] PRIMARY KEY CLUSTERED 
(
	[SongId] ASC,
	[SimilarSongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Songs]    Script Date: 6/24/2024 2:46:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Songs](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[Genre] [nvarchar](max) NOT NULL,
	[ReleaseDate] [date] NOT NULL,
	[DurationSeconds] [int] NOT NULL,
	[AlbumId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Songs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserArtists]    Script Date: 6/24/2024 2:46:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserArtists](
	[UserId] [uniqueidentifier] NOT NULL,
	[ArtistId] [uniqueidentifier] NOT NULL,
	[IsFollowing] [bit] NOT NULL,
 CONSTRAINT [PK_UserArtists] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ArtistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/24/2024 2:46:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[PasswordSalt] [nvarchar](max) NOT NULL,
	[Mobile] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Birthday] [date] NOT NULL,
	[Avatar] [nvarchar](max) NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[EmailNotifications] [bit] NOT NULL,
	[Theme] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSongs]    Script Date: 6/24/2024 2:46:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSongs](
	[UserId] [uniqueidentifier] NOT NULL,
	[SongId] [uniqueidentifier] NOT NULL,
	[PlayCount] [int] NOT NULL,
 CONSTRAINT [PK_UserSongs] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[SongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240605162942_V1_CoreDB', N'8.0.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240607043308_V2_SecurityUser', N'8.0.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240607100628_V3_CreatedAtRoleAuthority', N'8.0.3')
GO
INSERT [dbo].[AlbumLinks] ([AlbumId], [SimilarAlbumId]) VALUES (N'0fd3aee7-0bd0-4482-a78d-17e3c7d8b4d5', N'c7e1f8b6-d8df-4eca-b45e-736b5d63b4d5')
INSERT [dbo].[AlbumLinks] ([AlbumId], [SimilarAlbumId]) VALUES (N'0fd3aee7-0bd0-4482-a78d-17e3c7d8b4d5', N'41ad644e-bdec-472c-ae5d-9f2d1e7fcb0d')
INSERT [dbo].[AlbumLinks] ([AlbumId], [SimilarAlbumId]) VALUES (N'8a145bd2-7b7f-4188-bcdd-1c3a4a7c5e45', N'b58f5f3f-d5e8-49f3-8b12-cfe33f762b4f')
GO
INSERT [dbo].[Albums] ([Id], [Title], [ImageUrl], [ReleaseDate], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'0fd3aee7-0bd0-4482-a78d-17e3c7d8b4d5', N'Melodrama', N'https://example.com/melodrama.jpg', CAST(N'2017-06-16' AS Date), CAST(N'2024-03-26T00:00:00.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[Albums] ([Id], [Title], [ImageUrl], [ReleaseDate], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'8a145bd2-7b7f-4188-bcdd-1c3a4a7c5e45', N'Cold Mode', N'https://example.com/cold-mode.jpg', CAST(N'2023-06-18' AS Date), CAST(N'2024-04-20T00:00:00.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[Albums] ([Id], [Title], [ImageUrl], [ReleaseDate], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'07fa60f8-8b91-4c33-bf53-1e4f3b79f597', N'Flower Boy', N'https://example.com/flower-boy.jpg', CAST(N'2017-07-21' AS Date), CAST(N'2024-04-08T00:00:00.0000000' AS DateTime2), NULL, NULL)
GO
INSERT [dbo].[ArtistLinks] ([ArtistId], [SimilarArtistId]) VALUES (N'9cb82f47-a287-403a-a5c6-0f821d7d4c8a', N'0ac3e817-eda5-4a60-9e8c-6a82e2a3e5f3')
INSERT [dbo].[ArtistLinks] ([ArtistId], [SimilarArtistId]) VALUES (N'9cb82f47-a287-403a-a5c6-0f821d7d4c8a', N'cd1f9668-1eed-4a1c-9894-f7b3e3b9b486')
INSERT [dbo].[ArtistLinks] ([ArtistId], [SimilarArtistId]) VALUES (N'2ba4fb8c-22d7-4ba6-9e95-1a1bfaa0fb4b', N'e1d9cee7-ecde-4d07-bc64-3cec9c3f7b04')
GO
INSERT [dbo].[Artists] ([Id], [Name], [ImageUrl], [Bio], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'9cb82f47-a287-403a-a5c6-0f821d7d4c8a', N'SZA', N'https://example.com/images/sza.jpg', N'American singer-songwriter known for her blend of R&B, soul, and hip-hop and thoughtful, provocative lyrics.', CAST(N'2024-03-31T00:00:00.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[Artists] ([Id], [Name], [ImageUrl], [Bio], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'2ba4fb8c-22d7-4ba6-9e95-1a1bfaa0fb4b', N'John Legend', N'https://example.com/images/john-legend.jpg', N'American singer, songwriter, producer, and actor known for his smooth vocal quality and thoughtful musicianship.', CAST(N'2024-04-04T00:00:00.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[Artists] ([Id], [Name], [ImageUrl], [Bio], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'4e75ecdd-aafe-4c35-836b-1b83fc7b8f88', N'The Weeknd', N'https://example.com/images/the-weeknd.jpg', N'Canadian singer, songwriter, and record producer known for his flamboyant style and broad vocal range.', CAST(N'2024-03-01T00:00:00.0000000' AS DateTime2), NULL, NULL)
GO
INSERT [dbo].[ArtistSong] ([ArtistsId], [SongsId]) VALUES (N'4e75ecdd-aafe-4c35-836b-1b83fc7b8f88', N'278cfa5a-6f44-420e-9930-07da6c43a6ad')
INSERT [dbo].[ArtistSong] ([ArtistsId], [SongsId]) VALUES (N'4e75ecdd-aafe-4c35-836b-1b83fc7b8f88', N'64f534f8-f2d4-4402-95a3-54de48b678a8')
INSERT [dbo].[ArtistSong] ([ArtistsId], [SongsId]) VALUES (N'4e75ecdd-aafe-4c35-836b-1b83fc7b8f88', N'7ef7351b-912e-4a64-ba6d-cfdfcb7d56af')
GO
INSERT [dbo].[Authorities] ([Id], [Type], [CreatedAt]) VALUES (N'75e924c3-34e7-46ef-b521-7331e36caadd', N'Create', CAST(N'2024-03-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Authorities] ([Id], [Type], [CreatedAt]) VALUES (N'59525baa-6eaa-42d8-b213-9094af0d604b', N'Delete', CAST(N'2024-03-01T00:00:00.0000003' AS DateTime2))
INSERT [dbo].[Authorities] ([Id], [Type], [CreatedAt]) VALUES (N'362b20cf-3636-49ed-9489-d2700339efce', N'Read', CAST(N'2024-03-01T00:00:00.0000001' AS DateTime2))
GO
INSERT [dbo].[AuthorityUser] ([AuthoritiesId], [UsersId]) VALUES (N'75e924c3-34e7-46ef-b521-7331e36caadd', N'cb83d524-2016-4ce3-965b-223af9e7ba99')
INSERT [dbo].[AuthorityUser] ([AuthoritiesId], [UsersId]) VALUES (N'75e924c3-34e7-46ef-b521-7331e36caadd', N'0a9e546f-38b4-4dbf-a482-24a82169890e')
INSERT [dbo].[AuthorityUser] ([AuthoritiesId], [UsersId]) VALUES (N'75e924c3-34e7-46ef-b521-7331e36caadd', N'a3daa48b-ece1-430e-a609-32e6c79c232f')
GO
INSERT [dbo].[Feedbacks] ([Id], [UserId], [Type], [Message], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'c20369a1-8080-4f0b-9a3d-07af2fde560b', N'ff3dd044-ebfb-4e1d-9050-b6dcfe684a1a', N'Improvement', N'Implement two-factor authentication for enhanced security.', CAST(N'2024-04-05T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2024-04-05T12:00:00.0000000' AS DateTime2))
INSERT [dbo].[Feedbacks] ([Id], [UserId], [Type], [Message], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'1fb89f40-7b40-4438-8be5-0d770658ffe3', N'14a3d4c4-fb21-4153-9096-d96bda62ee59', N'Issue', N'There is a bug in the payment gateway integration.', CAST(N'2024-03-18T00:00:00.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[Feedbacks] ([Id], [UserId], [Type], [Message], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'1a0e8dd4-70fd-4644-9c70-18b1e3d13e3d', N'978d41ee-1f38-4c84-8826-8e62bc5ba109', N'Improvement', N'Add a dark mode for better user experience.', CAST(N'2024-03-09T00:00:00.0000000' AS DateTime2), NULL, NULL)
GO
INSERT [dbo].[Notifications] ([Id], [SenderId], [ReceiverId], [Type], [Message], [IsRead], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'b7954386-cacc-476c-bfad-01267d262f69', N'cb83d524-2016-4ce3-965b-223af9e7ba99', N'36712aa4-77f0-4510-8425-cf53dad54840', N'System', N'Security notice: Please update your password.', 0, CAST(N'2024-03-23T00:00:00.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[Notifications] ([Id], [SenderId], [ReceiverId], [Type], [Message], [IsRead], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'a88fda83-356b-46b2-a1fd-041ef5b98270', N'cb83d524-2016-4ce3-965b-223af9e7ba99', N'36712aa4-77f0-4510-8425-cf53dad54840', N'Music', N'Updated playlist based on your recent listens.', 0, CAST(N'2024-03-03T00:00:00.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[Notifications] ([Id], [SenderId], [ReceiverId], [Type], [Message], [IsRead], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'8f6c5a67-369c-402b-88a7-0c0535e67411', N'9c6a5f06-b1f0-4507-b2f8-955156a8bed6', N'cb83d524-2016-4ce3-965b-223af9e7ba99', N'Social', N'New friend suggestions are available.', 0, CAST(N'2024-03-04T00:00:00.0000000' AS DateTime2), NULL, NULL)
GO
INSERT [dbo].[Playlists] ([Id], [Title], [UserId], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'01de5998-2c9f-40c5-8766-0d17103da4a0', N'Country Roads', N'978d41ee-1f38-4c84-8826-8e62bc5ba109', CAST(N'2024-04-19T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2024-04-19T12:00:00.0000000' AS DateTime2))
INSERT [dbo].[Playlists] ([Id], [Title], [UserId], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'309ba8a0-3a2a-44fd-b359-1058defb3c75', N'Reggae Rhythms', N'da189940-d09e-4587-9665-8efdf10684dd', CAST(N'2024-04-20T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2024-04-20T12:00:00.0000000' AS DateTime2))
INSERT [dbo].[Playlists] ([Id], [Title], [UserId], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'55fca191-e4fc-43da-a576-1a867256e65d', N'HipHop Highways', N'7eb88892-549b-4cae-90be-c52088354643', CAST(N'2024-04-12T00:00:00.0000000' AS DateTime2), NULL, NULL)
GO
INSERT [dbo].[PlaylistSong] ([PlaylistsId], [SongsId]) VALUES (N'01de5998-2c9f-40c5-8766-0d17103da4a0', N'a19c9d5d-5999-4972-aca8-1990d6c854ea')
INSERT [dbo].[PlaylistSong] ([PlaylistsId], [SongsId]) VALUES (N'01de5998-2c9f-40c5-8766-0d17103da4a0', N'46d680bc-036d-4e72-bb12-1d8ed212c83a')
INSERT [dbo].[PlaylistSong] ([PlaylistsId], [SongsId]) VALUES (N'01de5998-2c9f-40c5-8766-0d17103da4a0', N'8f162292-9e44-4003-97b8-86fe410c486a')
GO
INSERT [dbo].[Roles] ([Id], [Type], [CreatedAt]) VALUES (N'61ee6dda-e18a-4eb9-a736-3f95ba5537f7', N'Listener', CAST(N'2024-03-01T00:00:00.0000002' AS DateTime2))
INSERT [dbo].[Roles] ([Id], [Type], [CreatedAt]) VALUES (N'deaf35ba-fe71-4c21-8a3c-d8e5b32a06fe', N'Admin', CAST(N'2024-03-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Roles] ([Id], [Type], [CreatedAt]) VALUES (N'2fc8f207-5af0-402f-84d0-e1c7fa7336a6', N'Moderator', CAST(N'2024-03-01T00:00:00.0000001' AS DateTime2))
GO
INSERT [dbo].[SongLinks] ([SongId], [SimilarSongId]) VALUES (N'be8f4a76-9966-4b2f-95ef-067dd7879655', N'a5780fe8-4708-4574-a3de-416064b970d1')
INSERT [dbo].[SongLinks] ([SongId], [SimilarSongId]) VALUES (N'be8f4a76-9966-4b2f-95ef-067dd7879655', N'5904e413-0619-4099-afbc-71e133a68511')
INSERT [dbo].[SongLinks] ([SongId], [SimilarSongId]) VALUES (N'278cfa5a-6f44-420e-9930-07da6c43a6ad', N'03b3fb9f-38af-4074-8ab5-b9644ab44397')
GO
INSERT [dbo].[Songs] ([Id], [Title], [ImageUrl], [Genre], [ReleaseDate], [DurationSeconds], [AlbumId], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'be8f4a76-9966-4b2f-95ef-067dd7879655', N'I''m In It', N'https://example.com/images/im-in-it.jpg', N'HipHop', CAST(N'2013-06-19' AS Date), 233, N'89b992ff-29be-49d3-b786-8d2e8d44de55', CAST(N'2024-05-21T00:00:00.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[Songs] ([Id], [Title], [ImageUrl], [Genre], [ReleaseDate], [DurationSeconds], [AlbumId], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'278cfa5a-6f44-420e-9930-07da6c43a6ad', N'Light Show', N'https://example.com/images/light-show.jpg', N'Rnb', CAST(N'2016-11-28' AS Date), 199, N'57d9b8a7-d36b-4975-bd4a-a4c5dbe5c5cc', CAST(N'2024-03-02T00:00:00.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[Songs] ([Id], [Title], [ImageUrl], [Genre], [ReleaseDate], [DurationSeconds], [AlbumId], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'ded148fc-19d8-478a-9060-0b4543727d37', N'Stay With Me', N'https://example.com/images/stay-with-me.jpg', N'Pop', CAST(N'2014-06-09' AS Date), 182, N'8f70a802-6741-48de-9f2f-7f1d184b1687', CAST(N'2024-04-02T00:00:00.0000000' AS DateTime2), NULL, NULL)
GO
INSERT [dbo].[UserArtists] ([UserId], [ArtistId], [IsFollowing]) VALUES (N'cb83d524-2016-4ce3-965b-223af9e7ba99', N'9cb82f47-a287-403a-a5c6-0f821d7d4c8a', 1)
INSERT [dbo].[UserArtists] ([UserId], [ArtistId], [IsFollowing]) VALUES (N'cb83d524-2016-4ce3-965b-223af9e7ba99', N'2ba4fb8c-22d7-4ba6-9e95-1a1bfaa0fb4b', 1)
INSERT [dbo].[UserArtists] ([UserId], [ArtistId], [IsFollowing]) VALUES (N'cb83d524-2016-4ce3-965b-223af9e7ba99', N'4e75ecdd-aafe-4c35-836b-1b83fc7b8f88', 1)
GO
INSERT [dbo].[Users] ([Id], [Name], [Email], [PasswordHash], [PasswordSalt], [Mobile], [Address], [Birthday], [Avatar], [RoleId], [CreatedAt], [UpdatedAt], [DeletedAt], [EmailNotifications], [Theme]) VALUES (N'cb83d524-2016-4ce3-965b-223af9e7ba99', N'Laura Brown', N'laura.brown@email.com', N'3s4NRoTE5JNNU3oBn1Nu7/TvBCb7oEJ4rG6NDRoeYyo=', N'sqNvyZ7e7GkjoEqU9YfMAw==', N'+40734289604', N'333 Elm St, Paris, France', CAST(N'1985-08-25' AS Date), N'https://laura-brown-avatar.jpg', N'2fc8f207-5af0-402f-84d0-e1c7fa7336a6', CAST(N'2024-05-04T00:00:00.0000000' AS DateTime2), NULL, NULL, 1, N'Dark')
INSERT [dbo].[Users] ([Id], [Name], [Email], [PasswordHash], [PasswordSalt], [Mobile], [Address], [Birthday], [Avatar], [RoleId], [CreatedAt], [UpdatedAt], [DeletedAt], [EmailNotifications], [Theme]) VALUES (N'0a9e546f-38b4-4dbf-a482-24a82169890e', N'John Doe', N'john.doe@email.com', N'2BQB4efoBi4Z5VldE8ErF0qQ47NvO9+0hF0al7PmJ24=', N'8N2aeuESLAW/U7ugfotVkA==', N'+40721543701', N'123 Main St, Boston, USA', CAST(N'1980-02-15' AS Date), N'https://john-doe-avatar.jpg', N'deaf35ba-fe71-4c21-8a3c-d8e5b32a06fe', CAST(N'2024-05-01T00:00:00.0000000' AS DateTime2), NULL, NULL, 1, N'Dark')
GO
INSERT [dbo].[UserSongs] ([UserId], [SongId], [PlayCount]) VALUES (N'cb83d524-2016-4ce3-965b-223af9e7ba99', N'be8f4a76-9966-4b2f-95ef-067dd7879655', 0)
INSERT [dbo].[UserSongs] ([UserId], [SongId], [PlayCount]) VALUES (N'cb83d524-2016-4ce3-965b-223af9e7ba99', N'278cfa5a-6f44-420e-9930-07da6c43a6ad', 0)
INSERT [dbo].[UserSongs] ([UserId], [SongId], [PlayCount]) VALUES (N'cb83d524-2016-4ce3-965b-223af9e7ba99', N'ded148fc-19d8-478a-9060-0b4543727d37', 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__737584F6B6485B27]    Script Date: 6/24/2024 2:46:31 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105342F557DE7]    Script Date: 6/24/2024 2:46:31 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(0))) FOR [EmailNotifications]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [Theme]
GO
ALTER TABLE [dbo].[AlbumLinks]  WITH CHECK ADD  CONSTRAINT [FK_AlbumLinks_Albums_AlbumId] FOREIGN KEY([AlbumId])
REFERENCES [dbo].[Albums] ([Id])
GO
ALTER TABLE [dbo].[AlbumLinks] CHECK CONSTRAINT [FK_AlbumLinks_Albums_AlbumId]
GO
ALTER TABLE [dbo].[AlbumLinks]  WITH CHECK ADD  CONSTRAINT [FK_AlbumLinks_Albums_SimilarAlbumId] FOREIGN KEY([SimilarAlbumId])
REFERENCES [dbo].[Albums] ([Id])
GO
ALTER TABLE [dbo].[AlbumLinks] CHECK CONSTRAINT [FK_AlbumLinks_Albums_SimilarAlbumId]
GO
ALTER TABLE [dbo].[ArtistLinks]  WITH CHECK ADD  CONSTRAINT [FK_ArtistLinks_Artists_ArtistId] FOREIGN KEY([ArtistId])
REFERENCES [dbo].[Artists] ([Id])
GO
ALTER TABLE [dbo].[ArtistLinks] CHECK CONSTRAINT [FK_ArtistLinks_Artists_ArtistId]
GO
ALTER TABLE [dbo].[ArtistLinks]  WITH CHECK ADD  CONSTRAINT [FK_ArtistLinks_Artists_SimilarArtistId] FOREIGN KEY([SimilarArtistId])
REFERENCES [dbo].[Artists] ([Id])
GO
ALTER TABLE [dbo].[ArtistLinks] CHECK CONSTRAINT [FK_ArtistLinks_Artists_SimilarArtistId]
GO
ALTER TABLE [dbo].[ArtistSong]  WITH CHECK ADD  CONSTRAINT [FK_ArtistSong_Artists_ArtistsId] FOREIGN KEY([ArtistsId])
REFERENCES [dbo].[Artists] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ArtistSong] CHECK CONSTRAINT [FK_ArtistSong_Artists_ArtistsId]
GO
ALTER TABLE [dbo].[ArtistSong]  WITH CHECK ADD  CONSTRAINT [FK_ArtistSong_Songs_SongsId] FOREIGN KEY([SongsId])
REFERENCES [dbo].[Songs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ArtistSong] CHECK CONSTRAINT [FK_ArtistSong_Songs_SongsId]
GO
ALTER TABLE [dbo].[AuthorityUser]  WITH CHECK ADD  CONSTRAINT [FK_AuthorityUser_Authorities_AuthoritiesId] FOREIGN KEY([AuthoritiesId])
REFERENCES [dbo].[Authorities] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AuthorityUser] CHECK CONSTRAINT [FK_AuthorityUser_Authorities_AuthoritiesId]
GO
ALTER TABLE [dbo].[AuthorityUser]  WITH CHECK ADD  CONSTRAINT [FK_AuthorityUser_Users_UsersId] FOREIGN KEY([UsersId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AuthorityUser] CHECK CONSTRAINT [FK_AuthorityUser_Users_UsersId]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Users_UserId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_ReceiverId] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_ReceiverId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_SenderId]
GO
ALTER TABLE [dbo].[Playlists]  WITH CHECK ADD  CONSTRAINT [FK_Playlists_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Playlists] CHECK CONSTRAINT [FK_Playlists_Users_UserId]
GO
ALTER TABLE [dbo].[PlaylistSong]  WITH CHECK ADD  CONSTRAINT [FK_PlaylistSong_Playlists_PlaylistsId] FOREIGN KEY([PlaylistsId])
REFERENCES [dbo].[Playlists] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlaylistSong] CHECK CONSTRAINT [FK_PlaylistSong_Playlists_PlaylistsId]
GO
ALTER TABLE [dbo].[PlaylistSong]  WITH CHECK ADD  CONSTRAINT [FK_PlaylistSong_Songs_SongsId] FOREIGN KEY([SongsId])
REFERENCES [dbo].[Songs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlaylistSong] CHECK CONSTRAINT [FK_PlaylistSong_Songs_SongsId]
GO
ALTER TABLE [dbo].[SongLinks]  WITH CHECK ADD  CONSTRAINT [FK_SongLinks_Songs_SimilarSongId] FOREIGN KEY([SimilarSongId])
REFERENCES [dbo].[Songs] ([Id])
GO
ALTER TABLE [dbo].[SongLinks] CHECK CONSTRAINT [FK_SongLinks_Songs_SimilarSongId]
GO
ALTER TABLE [dbo].[SongLinks]  WITH CHECK ADD  CONSTRAINT [FK_SongLinks_Songs_SongId] FOREIGN KEY([SongId])
REFERENCES [dbo].[Songs] ([Id])
GO
ALTER TABLE [dbo].[SongLinks] CHECK CONSTRAINT [FK_SongLinks_Songs_SongId]
GO
ALTER TABLE [dbo].[Songs]  WITH CHECK ADD  CONSTRAINT [FK_Songs_Albums_AlbumId] FOREIGN KEY([AlbumId])
REFERENCES [dbo].[Albums] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Songs] CHECK CONSTRAINT [FK_Songs_Albums_AlbumId]
GO
ALTER TABLE [dbo].[UserArtists]  WITH CHECK ADD  CONSTRAINT [FK_UserArtists_Artists_ArtistId] FOREIGN KEY([ArtistId])
REFERENCES [dbo].[Artists] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserArtists] CHECK CONSTRAINT [FK_UserArtists_Artists_ArtistId]
GO
ALTER TABLE [dbo].[UserArtists]  WITH CHECK ADD  CONSTRAINT [FK_UserArtists_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserArtists] CHECK CONSTRAINT [FK_UserArtists_Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserSongs]  WITH CHECK ADD  CONSTRAINT [FK_UserSongs_Songs_SongId] FOREIGN KEY([SongId])
REFERENCES [dbo].[Songs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserSongs] CHECK CONSTRAINT [FK_UserSongs_Songs_SongId]
GO
ALTER TABLE [dbo].[UserSongs]  WITH CHECK ADD  CONSTRAINT [FK_UserSongs_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserSongs] CHECK CONSTRAINT [FK_UserSongs_Users_UserId]
GO
USE [master]
GO
